<section>
    <h2 class="page-title" data-bind="text: title"></h2>

    <div class="container-fluid" style="margin-bottom: 60px;">
        <div class="row-fluid">
            <div class="btn-toolbar">
                <button class="btn btn-primary" data-bind="click: newTeam() ? create : save"><i class="icon-save"></i>Save</button>
                <button class="btn btn-primary" data-bind="click: cancel"><i class="icon-remove"></i>Cancel</button>
            </div>
            <div class="well tab-primary ui-tabs">
                <ul class="nav nav-tabs ui-tabs-nav">
                    <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
                     <li><a href="#stats" data-toggle="tab">Stats</a></li>
                    <li><a href="#feeds" data-toggle="tab">Feeds</a></li>
                    <li><a href="#image" data-toggle="tab">Picture</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="profileTab">

                            <label>Picture</label>
                            <img width="150px" height="150px" role="button" data-bind="attr: { alt: model().name, src: model().img_url() }">

                            <label>Name</label>
                            <input type="text" placeholder="Name of the team" name="name" class="input-xlarge" data-bind="value: model().name" />

                            <label>Country</label>
                            <input type="text" placeholder="League" name="League" class="input-xlarge" data-bind="value: model().country" />

                            <label>location</label>
                            <input type="text" placeholder="Association" name="Association" class="input-xlarge" data-bind="value: model().location" />
                            
                            <label>Image URL</label>
                            <input type="text" placeholder="Image URL" name="Image" class="input-xlarge" data-bind="value: model().img_url" />

                        </form>

                    </div>

                    <div class="tab-pane" id="image">
                        <form id="Form1">

                            <div class="span6">
                                <div class="form-inline">
                                    <span data-bind="html: 'Team ID: ' + model().id()" />
                                    <input type="file" id="file" name="image">
                                    <input id="uploadBtn" type="submit" class="btn" value="Upload" data-bind="click: upload">
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane" id="feeds">

                        <div class="span6">
                              <div class="btn-toolbar">
                            <div class="form-inline">                                
                                <div class="form-horizontal">
                                    <input type="text" class="span10" data-bind="value: comment" />
                                    <button class="btn btn-success" data-bind="click: postFeed"><i class="icon-circle-arrow-right"></i>Post</button>

                                </div>
                                </div>
                                </div>
                                <div class="box-content">
                                    <ul class="chat metro green" data-bind="foreach: feeds">

                                       <li>
                                            
                                            <span class="message">                                                
                                                <span class="time" data-bind="text: moment(published()).fromNow()">Jul 25, 2012 11:09</span>
                                                <span class="text" data-bind="text: message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                </span>
                                                <span class="feed-close">
                                                    <a data-bind="click: deleteFeed" role="button" class="btn-close"><i class="halflings-icon white remove"></i></a>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    <div class="tab-pane active in" id="stats">
                        <form id="Form2">
                            <div class="box span8">
					<div data-original-title="" class="box-header">
						<h2><i class="halflings-icon edit"></i><span class="break"></span>Form Elements</h2>						
					</div>
					<div class="box-content">			
						  

					</div>
                                </div>
                        </form>

                    </div>
                    </div>

                </div>
            </div>
        </div>
    
</section>
