<div class="row-fluid"> 

<a href="#users" class="quick-button metro yellow span2">
    <i class="icon-group"></i>
    <p>Users</p>
    <span class="badge"></span>
  </a>
  <a href="#players" class="quick-button metro red span2">
    <i class="icon-user"></i>
    <p>Players</p>
    <span class="badge"></span>
  </a>
  <a href="#teams" class="quick-button metro blue span2">
    <i class="icon-globe"></i>
    <p>National Teams</p>
    <span class="badge"></span>
  </a>
   
  <a href="#feeds" class="quick-button metro green span2">
    <i class="icon-download-alt"></i>
    <p>Feeds</p>
  </a>
  
</div>

<div class="row-fluid" style="height:400px;">
  <hr/>
</div>

