<section>
  <h2 class="page-title" data-bind="text: title"></h2>

  <div class="container-fluid" style="margin-bottom: 60px;">
    <div class="row-fluid">
      <div class="btn-toolbar">
        <button class="btn btn-primary" data-bind="click: newPlayer() ? create : save"><i class="icon-save"></i>Save</button>
        <button class="btn btn-primary" data-bind="click: cancel"><i class="icon-remove"></i>Cancel</button>
      </div>
      <div class="well tab-primary ui-tabs">
        <ul class="nav nav-tabs ui-tabs-nav">
          <li class="active"><a href="#phome" data-toggle="tab">Profile</a></li>
          <li><a href="#pfeeds" data-toggle="tab">Feeds</a></li>
          <!-- <li><a href="#image" data-toggle="tab">Upload</a></li> -->
          <li><a href="#pstats" data-toggle="tab">Stats</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active in" id="phome">
            <form id="profileTab">
              <div>
                <div class="span6">

                  <label>Picture</label>
                  <img width="150px" height="150px" role="button" data-bind="attr: { alt: model().name, src: model().img_url() }">
<label>Rating</label>
                <input type="hidden" id="playerRating" data-bind="value:model().rating"/>
                  <label>Name</label>
                  <input type="text" placeholder="Name of the player" name="name" class="input-xlarge" data-bind="value: model().name" />

                  <label>Club</label>
                  <input type="text" placeholder="Club" name="Club" class="input-xlarge" data-bind="value: model().club" />
<label>Number</label>
                  <input type="text" placeholder="Player number" name="name" class="input-xlarge" data-bind="value: model().no" />

                  <label>Club Country</label>
                  <input type="text" placeholder="Club Country" name="Club" class="input-xlarge" data-bind="value: model().clubcountry" />


                </div>
                <div class="span6">
<label>Country(Nationality)</label>
                  <input type="text" placeholder="Country" name="Country" class="input-xlarge" data-bind="value: model().country" />
                  <label>Description</label>
                  <input type="text" placeholder="Club Country" name="Club" class="input-xlarge" data-bind="value: model().description" />

                  <label>Position</label>
                  <input type="text" placeholder="Club Country" name="Club" class="input-xlarge" data-bind="value: model().position" />

                  <label>Birthdate (<span data-bind="date: model().dob, format:'DD MMM YYYY'"></span>)</label>

                  <input type="text" placeholder="Birth Date" id="datepicker" name="Birth Date" class="input-xlarge hasDatepicker datepicker" data-bind="value: model().dob" />
                  <label>Place of Birth</label>
                  <input type="text" placeholder="Place of birth" name="Weight" class="input-xlarge" data-bind="value: model().birth_place" />

                  <label>Height (m)</label>
                  <input type="text" placeholder="Height" name="Height" class="input-xlarge" data-bind="value: model().height" />

                  <label>Weight (kg)</label>
                  <input type="text" placeholder="Weight" name="Weight" class="input-xlarge" data-bind="value: model().weight" />

                  <label>Image URL</label>
                  <input type="text" placeholder="Image Url" name="Image" class="input-xlarge" data-bind="value: model().img_url" />

                  <label>Player is in national team</label>
                  <input type="checkbox" class="input-xlarge" data-bind="checked: model().isNational" />

                </div>
              </div>



            </form>

          </div>

                    <!-- <div class="tab-pane" id="image">
                        <form id="Form1">

                            <div class="span6">
                                <div class="form-inline">
                                    <span data-bind="html: 'Player ID: ' + model().id()" />
                                    <input type="file" id="file" name="image">
                                    <input id="uploadBtn" type="submit" class="btn" value="Upload" data-bind="click: upload">
                                </div>
                            </div>

                        </form>
                      </div> -->

                      <div class="tab-pane" id="pfeeds">
                        <div class="span6">
                          <div class="btn-toolbar">
                            <div class="form-inline">
                              <div>
                                <textarea rows="5" class="span10" data-bind="value: comment"></textarea>
                                <br />
                                <button class="btn btn-success" data-bind="click: postFeed"><i class="icon-circle-arrow-right"></i>Post</button>

                              </div>
                            </div>
                          </div>
                          <div class="box-content">
                            <ul class="chat metro green" data-bind="foreach: feeds">

                              <li>

                                <span class="message">
                                  <span class="time" data-bind="text: moment(published()).fromNow()">Jul 25, 2012 11:09</span>
                                  <span class="text" data-bind="text: message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                  </span>
                                  <span class="feed-close">
                                    <!--<a data-bind="click: editFeed" role="button" class="btn-close"><i class="halflings-icon white edit"></i></a>-->
                                    <a data-bind="click: deleteFeed" role="button" class="btn-close"><i class="halflings-icon white remove"></i></a>
                                  </span>
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="pstats">

                       <label>Season</label>
                       <input type="text" placeholder="Season" name="Weight" class="input-xlarge" data-bind="value: stat().season" />

                       <label>Goals</label>
                       <input type="text" placeholder="Goals" name="Weight" class="input-xlarge" data-bind="value: stat().goals" />

                       <label>Minutes</label>
                       <input type="text" placeholder="Minutes" name="Weight" class="input-xlarge" data-bind="value: stat().minutes" />

                       <label>Sub</label>
                       <input type="text" placeholder="Sub" name="Weight" class="input-xlarge" data-bind="value: stat().sub" />

                       <label>Red Card</label>
                       <input type="text" placeholder="Red Card" name="Weight" class="input-xlarge" data-bind="value: stat().redc" />
                       <label>Yellow Card</label>
                       <input type="text" placeholder="Yellow Card" name="Weight" class="input-xlarge" data-bind="value: stat().yellowc" />

                       <label>Games</label>
                       <input type="text" placeholder="Games" name="Weight" class="input-xlarge" data-bind="value: stat().games" />
                       <label>Team</label>
                       <input type="text" placeholder="Team" name="Weight" class="input-xlarge" data-bind="value: stat().team" />
                       <label>League</label>
                       <input type="text" placeholder="League" name="Weight" class="input-xlarge" data-bind="value: stat().league" />
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </section>
