<section>
    <h2 class="page-title" data-bind="text: title"></h2>

    <div class="container-fluid" style="margin-bottom: 60px;">
        <div class="row-fluid">
            <div class="btn-toolbar">
                <button class="btn btn-primary" data-bind="click: newPlayer() ? create : save"><i class="icon-save"></i>Save</button>
                <button class="btn btn-primary" data-bind="click: cancel"><i class="icon-remove"></i>Cancel</button>
            </div>
            <div class="well tab-primary ui-tabs">
                <ul class="nav nav-tabs ui-tabs-nav">
                    <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
                    <li><a href="#feeds" data-toggle="tab">Feeds</a></li>
                    <li><a href="#image" data-toggle="tab">Upload</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="profileTab">
                            <div>
                                <div class="span6">
                                    <label>Picture</label>
                                    <img width="150px" height="150px" role="button" data-bind="attr: { alt: model().name, src: model().img_url() }">

                                    <label>Name</label>
                                    <input type="text" placeholder="Name of the player" name="name" class="input-xlarge" data-bind="value: model().name" />

                                    <label>Club</label>
                                    <input type="text" placeholder="Club" name="Club" class="input-xlarge" data-bind="value: model().club" />

                                    <label>Club Country</label>
                                    <input type="text" placeholder="Club Country" name="Club" class="input-xlarge" data-bind="value: model().clubcountry" />

                                    <label>Country(Nationality)</label>
                                    <input type="text" placeholder="Country" name="Country" class="input-xlarge" data-bind="value: model().country" />
                                </div>
                                <div class="span6">

                                    <label>Description</label>
                                    <input type="text" placeholder="Description" name="Club" class="input-xlarge" data-bind="value: model().description" />

                                    <label>Position</label>
                                    <input type="text" placeholder="Position" name="Club" class="input-xlarge" data-bind="value: model().position" />
                                     <label>Birthdate</label>
                            <input type="text" placeholder="Birth Date" id="datepicker" name="Birth Date" class="input-xlarge hasDatepicker datepicker" data-bind="value: moment(model().dob()).format('MMMM Do YYYY')" />
                                     <label>Place of Birth</label>
                            <input type="text" placeholder="Place of birth" name="Weight" class="input-xlarge" data-bind="value: model().birth_place" />

                                    <label>Height (m)</label>
                            <input type="text" placeholder="Height" name="Height" class="input-xlarge" data-bind="value: model().height" />

                                    <label>Weight (kg)</label>
                            <input type="text" placeholder="Weight" name="Weight" class="input-xlarge" data-bind="value: model().weight" />


                                    <label>Image URL</label>
                                    <input type="text" placeholder="Image Url" name="Image" class="input-xlarge" data-bind="value: model().img_url" />
                                </div>
                            </div>



                        </form>

                    </div>

                    <div class="tab-pane" id="image">
                        <form id="Form1">

                            <div class="span6">
                                <div class="form-inline">
                                    <span data-bind="html: 'Player ID: ' + model().id()" />
                                    <input type="file" id="file" name="image">
                                    <input id="uploadBtn" type="submit" class="btn" value="Upload" data-bind="click: upload">
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane" id="feeds">
                        <div class="span6">
                            <div class="btn-toolbar">
                                <div class="form-inline">
                                    <div class="form-horizontal">
                                        <input type="text" class="span10" data-bind="value: comment" />
                                        <button class="btn btn-success" data-bind="click: postFeed"><i class="icon-circle-arrow-right"></i>Post</button>

                                    </div>
                                </div>
                            </div>
                            <div class="box-content">
                                <ul class="chat metro green" data-bind="foreach: feeds">

                                    <li>

                                        <span class="message">
                                            <span class="time" data-bind="text: moment(published()).fromNow()">Jul 25, 2012 11:09</span>
                                            <span class="text" data-bind="text: message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </span>
                                            <span class="feed-close">
                                                <!--<a data-bind="click: editFeed" role="button" class="btn-close"><i class="halflings-icon white edit"></i></a>-->
                                                <a data-bind="click: deleteFeed" role="button" class="btn-close"><i class="halflings-icon white remove"></i></a>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
